
.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* 6 columns with equal width */
  grid-template-rows: repeat(2, auto); /* 2 rows with auto sizing */
  gap: 1rem;
  padding: 4rem;
}

.card-image {
  width: 12rem;
  height: 12rem;
  margin: 0;
}